<nav class="navbar navbar-light bg-success bg-gradient">
    <div class="container">
        <div class="header-links">
            <a href="/" class="navbar-color">Askbin</a>
        </div>
        
    </div>
</nav>