<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/header.ejs'); %> 
</head>
<body>
    <%- include ('partials/navbar.ejs'); %> 
    <%- include ('partials/quest.ejs'); %> 
</body>
    <%- include ('partials/footer.ejs'); %> 
</html>