@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:wght@400;700&display=swap');
* {
    font-family: 'Nunito', sans-serif;
    outline: none;
}
body {
    height: 100vh;
    background-color: rgb(48, 48, 48);
}
.container-index {
    margin-top: 20px;
    padding-bottom: 200px;
}
.navbar {
    height: 10vh;
}
.navbar-color {
    background-color: mediumpurple;
}
.navbar-logo,
.navbar-logo:hover {
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.header-links {
    align-items: center;
}
.header-links a {
    margin-left: 20px;
    margin-right: 20px;
}
.card-header h3 {
    margin-top: 15px;
}
.maincard {
    margin-top: 2vh;
}
.form label {
    margin-top: 10px;
    font-size: 18px;
}
.form-input,
.form-text {
    font-size: 16px;
    margin-top: 10px;
    color: #111;
    resize: none;
    cursor: pointer;
    border: 1px solid #dddddd;
    height: auto;
}
.form-text::-webkit-scrollbar {
    width: 0px;
}
.form-control:focus {
    border-color: #dddddd;
    outline: none;
    box-shadow: none;
}
.card-response {
    margin-top: 15px;
}
.card-content h3,
.card-content p {
    margin-top: 15px;
}
.card-p {
    color: rgb(156, 156, 156);
    font-size: 12px;
}
.card-question {
    margin-top: 20px;
}
.btn {
    box-shadow: none;
    outline: none;
}
.btn-question {
    margin-top: 10px;
    color: white;
    box-shadow: none;
    outline: none;
}
.btn-response {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    box-shadow: none;
    outline: none;
}
.content-recent {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
}
.input-search {
    align-items: center;
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: .25rem;
    outline: none;
    border: 2px solid #ddd;
    cursor: pointer;
}
.input-search:valid {
    /* border: 1px solid #ddd; */
    background-image: none;
}
.btn-search {
    line-height: 1.5;
    border-radius: .25rem;
    padding: .375rem .75rem;
    border: 1px solid transparent;
    box-shadow: none;
    outline: none;
}
.btn-form {
    background-color: mediumpurple;
}
.btn-form:hover {
    color: white;;
}
.btn-search:focus,
.btn-search:active {
    box-shadow: none;
    outline: none;
    border: 1px solid transparent;
}
