<nav class="navbar navbar-light bg-gradient navbar-color">
    <div class="container">
        <div class="header-links">
            <a href="/" class="navbar-logo">Askbin</a>
        </div>
        <div class="header-links">
            <input class="input-search" type="text" name="search" placeholder="Pesquisar pergunta...">
            <button class="btn-light bg-gradient btn-search" type="button">Procurar</button>
        </div>
    </div>
</nav>