<section class="container container-index">
    <div class="card maincard">
        <div class="card-body">
            <form method="POST" action="/savequest" class="form">
                <label>Título da pergunta</label>
                    <input type="text" name="title" class="form-control form-input" placeholder="Digite o título da pergunta..." required>
                <br>
                <label>Pergunta</label>
                    <textarea name="question" cols="30" rows="10" class="form-control form-text" placeholder="Digite sua pergunta aqui..." required></textarea>
                <button class="btn btn-form bg-gradient btn-question">Perguntar</button>
            </form>
        </div>
    </div>
</section>