<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/header.njk' %}
</head>
<body>
    {% include 'partials/navbar.njk' %}
    {% include 'partials/quest.njk' %}
</body>
    {% include 'partials/footer.njk' %}
    <script src="/js/resize.js"></script>
</html>